/* ||FONTS */
@font-face {
  font-family: "commuters-sans-thin";
  src: url("font/Fontspring-DEMO-commuterssans-thin.otf");
}
@font-face {
  font-family: "commuters-sans-semibold";
  src: url("font/Fontspring-DEMO-commuterssans-semibold.otf");
}
@font-face {
  font-family: "lato";
  src: url("font/Lato-Regular.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* ||UTILITY CLASSES */
* {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  background-color: #131313;
  font-family: commuters-sans-thin;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
  align-items: center;
}
.active {
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.active2 {
  display: block;
}
.hidden {
  display: none;
}
/* -------------- */

/* || Loader */
#loadr {
  background: rgb(0, 0, 0) url(img/preloadr.gif) no-repeat center center;
  height: 110vh;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
/* ------------- */

/* ||FIXED */
#side-fix {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
}
#bt-fix {
  position: fixed;
  bottom: 0.4rem;
  left: -55555555rem;
  z-index: 100;
  width: 5.8rem;
  height: 3.2rem;
  backdrop-filter: blur(8px);
  color: white;
  border-radius: 4rem;
  text-align: center;
  align-content: center;
  font-family: commuters-sans-semibold;
}
#bt-fix:hover {
  background-color: white;
  color: #131313;
  cursor: pointer;
  transition-duration: 0.3s;
  height: 3.5rem;
}
#menu-fix {
  gap: 3rem;
  position: fixed;
  top: 1rem;
  left: 2rem;
  z-index: 120;
  width: 85vw;
  height: 93vh;
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
}
#menu-fix img {
  height: 4.2rem;
}
#menu-fix ul:nth-child(2) {
  font: 1000 2rem commuters-sans-thin;
  list-style: none;
  display: grid;
  gap: 1rem;
}
#menu-fix ul:nth-child(3) {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  width: 8%;
}
#menu-fix p {
  font-family: commuters-sans-semibold;
  align-self: flex-end;
}
#bottom-fix {
  position: fixed;
  bottom: 0.4rem;
  left: 0.4rem;
  z-index: 100;
  background-color: black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  align-content: center;
  text-align: center;
}
#bottom-fix:hover,
#box-closer:hover {
  cursor: pointer;
}
#cookie-fix {
  position: fixed;
  bottom: 0.4rem;
  left: 0.4rem;
  background-color: white;
  height: 25rem;
  width: 30rem;
  z-index: 200;
  font-family: Helvetica, sans-serif;
}
#cookie-fix p {
  font-weight: 550;
}
.cFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 1rem;
}

.cFlex3 p {
  padding: 1rem 0 0 1rem;
}
#cookie-fix img {
  height: 1rem;
  width: 1rem;
  padding-right: 0.3rem;
}
#cookie-fix ul {
  list-style-type: none;
  padding: 1rem;
}
#cookie-fix ul li {
  padding: 0.5rem 0;
}
.cFlex2 {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  font-weight: 600;
}
.cFlex2 button {
  height: 3rem;
  width: 13rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font: 600 1rem Helvetica;
}
.cFlex2 button:nth-child(1) {
  border: 2px solid #818080;
  color: #818080;
  background-color: white;
}
.cFlex2 button:nth-child(2) {
  color: white;
  background-color: #000;
}

#cookie-manager {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  font-family: Helvetica, sans-serif;
  width: 37rem;
}
#cookie-manager img {
  width: 4rem;
  margin: 0 0 1rem 1rem;
}
#cookie-manager div {
  max-width: 98vw;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}
.menu-sub {
  padding: 1rem 0;
  border-top: 1px solid rgba(182, 179, 179, 0.573);
  border-bottom: 1px solid rgba(182, 179, 179, 0.573);
}
.menu h4:hover {
  cursor: pointer;
}
.border {
  border-bottom: 1.5px solid black;
}
.consent {
  margin: 0 1rem;
}
.consent div:nth-child(1) {
  margin: 1rem 0;
}
.consent h4 {
  padding: 0.8rem 0;
}
.consent p {
  line-height: 1.4rem;
}
.consent div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.consent section {
  border: 1px solid rgba(182, 179, 179, 0.573);
  padding: 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  padding: 1rem;
  line-height: 1.4rem;
}
.button-grp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 1rem 0 1rem;
}
.button-grp button {
  width: 11rem;
  height: 3rem;
  border-radius: 0.5rem;
  font: 700 1rem Helvetica;
}
.button-grp button:nth-child(1),
.button-grp button:nth-child(2) {
  color: black;
  background-color: white;
  border: 2px solid black;
}
.button-grp button:nth-child(3) {
  background-color: #000;
  color: white;
}
/* .menu h4 */
/* -------------- */

/* ||TOGGLE BUTTON */
.toggle {
  opacity: 0;
  position: absolute;
  left: -90000px;
}

.togglebox label {
  position: relative;
  display: flex;
  cursor: pointer;
}

.togglebox label::before {
  content: "";
  width: 4rem;
  height: 2rem;
  background-color: black;
  border-radius: 1rem;
}
#label1::before{
  background-color: #aeaeaeae;
}
#label1::after{
  transform: translateX(2rem);
}
.togglebox label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  top: 0.2rem;
  margin-left: 0.2rem;
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  border-radius: 50%;
}

.translate::after {
  transform: translateX(2rem);
  transition-duration: 0.5s;
}

/* -------------- */

/* ||HEADER */
header {
  position: sticky;
  z-index: 90;
  top: 0;
  transition: top 200s;
  margin: 1.5rem 0 1.5rem 1rem;
  height: 4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
  backdrop-filter: blur(8px);
  height: 3.5rem;
  border-radius: 0.7rem;
}
header li {
  padding: 1rem;
}
.header-txt {
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
}
.header-txt li:hover {
  color: #cefd51;
  cursor: pointer;
}
header button {
  height: 3.6rem;
  width: 8.5rem;
  border-radius: 3rem;
  background-color: #cefd51;
  color: #131313;
}
header button:hover {
  height: 4rem;
  transition-duration: 0.5s;
}
/* ----------------- */

/* ||PARALLAX BOX */
.first-txt {
  color: #fff;
  text-transform: uppercase;
  font: 6.5rem/1em commuters-sans-semibold;
  text-wrap: wrap;
}
.first-txt span {
  color: #cefd51;
}
.backgrnd-div {
  z-index: 0;
  margin-left: 1rem;
}
#box1 {
  backdrop-filter: blur(8px);
  background: #ffffff33 url("img/parallax-1.webp");
  background-size: cover;
  height: 17rem;
  width: 17rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  top: 18rem;
  left: 0.7rem;
}
#box2 {
  backdrop-filter: blur(8px);
  background: #ffffff33 url("img/parallax-2.webp");
  background-size: cover;
  height: 17rem;
  width: 17rem;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 2;
  top: 9.8rem;
  right: 0.9rem;
}
#box3 {
  backdrop-filter: blur(8px);
  background: url(img/parallax-3.webp) #ffffff33;
  background-size: cover;
  height: 15rem;
  width: 15rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  top: 30rem;
  left: 45%;
}
#box4 {
  background: #ffffff33 url(img/parallax-4.webp);
  backdrop-filter: blur(8px);
  background-size: cover;
  height: 18rem;
  width: 18rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  top: 38rem;
  right: 18%;
}
#box5 {
  background-size: cover;
  width: 35rem;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 2;
  top: 48rem;
  left: 8rem;
}
/* ------------- */

/* ||SECTIONS */
.div-grid {
  margin: 18rem 0 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}
.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-h2 {
  color: white;
  font-size: 1.5rem;
  font-family: commuters-sans-semibold;
  margin-bottom: 1rem;
}
.section-ul {
  list-style-type: none;
  color: #818080;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font: 100 0.7rem lato;
}
.section-ul li {
  border: 0.07rem solid #818080;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
}
.section-ul li:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}
.div-grid img {
  margin-top: 1.3rem;
  height: 20.4rem;
  border-radius: 0.5rem;
  position: relative;
}
.section-img {
  position: relative;
}
.section-overtxt {
  position: absolute;
  color: white;
  top: 10.2rem;
  transform: translateX(20%);
  font: 700 14px commuters-sans-thin;
  background-color: #131313;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
  opacity: 0;
  align-content: center;
}
.section-img:hover .section-overtxt {
  opacity: 1;
  transition: opacity 0.8s;
}
.section-overtxt:hover {
  height: 2rem;
  cursor: pointer;
  transition: all 1s;
}

/* ----------- */

/* ||THE BIG PICTURE */
.bigpicture-cont {
  display: grid;
  margin: 18rem 0 0 1rem;
}
.bigpicture-h2 {
  color: white;
  font: 3.2rem commuters-sans-semibold;
}
.bigpicture-cont2 {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 5rem;
  color: white;
}
.bigpicture-cont2 h3 {
  font: 2rem Impact;
  margin-bottom: 2rem;
}
.para {
  font: 0.9rem lato;
  width: 17rem;
  line-height: 1.6;
}
.logo {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 2rem;
  margin: 1.5rem 0;
  padding: 1rem 0.9rem;
  width: 7.4rem;
  height: 1.6rem;
  font-weight: 900;
  font-size: 0.9rem;
}
.logo:hover {
  background-color: white;
  color: #000;
  height: 2rem;
  cursor: pointer;
  transition: height 0.3s;
}
.bigpicture-cont video {
  height: 56vw;
  width: 56vw;
}
.div-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 5rem;
  gap: 0rem;
  width: 80%;
}
.div-grid2 img {
  height: 3rem;
  margin-bottom: 2rem;
}
.div-grid2 p {
  width: 10rem;
}
/* -------------- */

/* ||BEHIND THE SCENES */
.bts-main {
  margin-top: 18rem;
  color: white;
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  gap: 1rem;
}
.bts-sub1 {
  height: 20rem;
  z-index: 0;
}
.bts-sub2 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4.5rem;
  border: 0;
  z-index: 0;
}
.bts-sub2 h2 {
  font: 500 clamp(2rem, 5vw, 3.5rem) commuters-sans-semibold;
  text-align: center;
  text-wrap: wrap;
}
.bts-sub2 p {
  font: 100 clamp(0.9rem, 2.57vw, 1.8rem) lato;
  margin: 1.5rem;
  width: 35rem;
  text-align: center;
  line-height: 2.4rem;
}
.bts-bigimg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.3rem;
  margin-bottom: 1.5rem;
}
.bts-bigimg img {
  border-radius: 0.8rem;
  height: 18rem;
}
#bts-Simg {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
}
#bts-Simg img {
  height: 8rem;
  border-radius: 0.5rem;
}
#bts-bigimg1,
#bts-bigimg2,
#bts-bigimg3,
#bts-bigimg4 {
  z-index: 3;
}
/* ------------------ */

/* ||TESTMNL */
.testmnl {
  margin: 18rem 0 30rem 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  gap: 7rem;
  color: white;
  position: relative;
}
.testmnl h2 {
  font: 3.5rem commuters-sans-semibold;
  text-align: center;
}
#testmnl-sub {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
}
#testmnl-sub img {
  width: 5.4rem;
}
.tbox div {
  background: #ffffff33;
  font-family: lato;
  border-radius: 0.7rem;
  position: absolute;
  z-index: 2;
  padding: 1.3rem;
  backdrop-filter: blur(8px);
}
#tbox1 {
  top: 25rem;
  left: 1rem;
  width: 16rem;
}
#tbox1 p {
  font-size: 0.9rem;
  font-weight: 550;
  margin-bottom: 0.8rem;
  line-height: 1.4rem;
}
#tbox2 {
  top: 12rem;
  right: 1.5rem;
  width: 13.7rem;
}
#tbox2 p {
  font-size: 0.8rem;
  font-weight: 550;
  margin-bottom: 0.8rem;
  line-height: 1.2rem;
}
#tbox3 {
  top: 40rem;
  right: 5rem;
  width: 13rem;
}
#tbox3 p {
  font-size: 0.75rem;
  font-weight: 550;
  margin-bottom: 0.8rem;
  line-height: 1.2rem;
}
#tbox4 {
  top: 70rem;
  right: 20rem;
  width: 14rem;
}
#tbox4 p {
  font-size: 0.9rem;
  font-weight: 550;
  margin-bottom: 0.8rem;
  line-height: 1.2rem;
}
/* ------------------------ */

/* ||LASTBIT */

.lastbit {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 5rem;
  margin: 0rem 0 8rem 0;
  padding: 1rem;
  color: white;
}
.lastbit h2 {
  font: 3.2rem commuters-sans-semibold;
}
.lastbit p {
  font: 1rem lato;
  margin: 0.9rem 0;
  line-height: 1.4rem;
}
.lastbit a {
  color: white;
}
.lastbit a:hover {
  color: #cefd51;
}
#lastbit-img img {
  margin-top: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  background-size: cover;
}
.lastbit-sub {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15rem;
}

/* Form */

.form {
  display: grid;
  grid-template-rows: repeat(5, auto);
}
#sub-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.form p {
  padding-left: 0.7rem;
  font-size: 0.9rem;
  font-family: commuters-sans-thin;
  width: 80%;
}
.form input {
  width: 26vw;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 0.5rem;
  padding: 0 0.7rem;
}
.form .email {
  width: 60vw;
}
.form textarea {
  width: 60vw;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.699);
  padding: 0 0.7rem;
  border-radius: 0.5rem;
}
.input-data {
  color: white;
  font-size: 0.9rem;
  font-family: sans-serif;
}
.error {
  color: red;
  opacity: 0;
}
.form button {
  margin-top: 3rem;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #cefd51;
  color: #000;
  padding: 1rem 1.2rem;
  font: 900 1.8rem commuters-sans-semibold;
  rotate: -20deg;
}
.form button:hover {
  rotate: 0deg;
  transition-duration: 0.5s;
  cursor: pointer;
}

/* ---------------------- */

/*||FOOTER */

footer {
  font-family: lato;
  padding: 2.4rem 1.3rem 1.3rem 1.3rem;
  color: white;
  background-color: #000;
}
footer p {
  font-weight: 700;
}
footer div {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin-bottom: 2rem;
}
footer div div {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}
.sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sub-footer .sub-footer-a {
  color: #818080;
}
footer img {
  height: 2rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a::after {
  content: "";
  background-image: url("img/arrow.svg");
  background-size: cover;
  transition-duration: 0.3s;
  display: inline-block;
  background-position: 50%;
  margin-inline-start: 0.5rem;
  vertical-align: middle;
  opacity: 0;
  height: 1.25rem;
  width: 1.25rem;
}
.sub-footer a:hover,
footer a:hover,
footer a:hover::after {
  color: #cefd51;
  opacity: 1;
}

/* --------------------- */

/* ||MEDIA QUERIES */

@media screen and (max-width: 1250px) {
  #bt-fix {
    left: 5rem;
  }
  header {
    position: relative;
    margin: 1rem 6vw 4rem 6vw;
    transition-duration: 0s;
  }
  main {
    margin: 0 4vw;
  }
  .header-txt {
    display: none;
  }
  .first-txt {
    font-size: clamp(3rem, 8.8vw, 5rem);
  }
  #box1 {
    height: 36vw;
    width: 36vw;
    top: 10rem;
    left: 7rem;
  }
  #box2 {
    height: 40vw;
    width: 40vw;
    top: 100rem;
    right: 7.5rem;
  }
  #box3 {
    height: 31.6vw;
    width: 31.6vw;
    top: 40rem;
  }
  #box4 {
    height: 43.2vw;
    width: 43.2vw;
    top: 90rem;
    left: 10rem;
  }
  #box5 {
    width: 100%;
    top: 120rem;
    left: 0rem;
  }
  .section-h2 {
    font-size: 4vw;
  }
  .div-grid {
    margin-top: 80rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem 1rem;
  }
  .div-grid img {
    width: 40vw;
    height: auto;
  }
  .section-overtxt {
    position: relative;
    opacity: 1;
    top: 0;
    margin-top: 1rem;
    width: 150px;
    transform: translateX(0%);
    border: 0.1rem solid #131313;
    background-color: transparent;
    border-color: white;
  }
  .bigpicture-cont2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .bigpicture-cont2 video {
    align-self: flex-end;
  }
  #bts-Simg {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    gap: 0.8rem;
  }
  .bts-bigimg {
    margin-bottom: 0;
  }
  #bts-Simg img,
  #bts-bigimg img {
    height: 28vw;
    border-radius: 0.5rem;
  }
  #bts-Simg0 {
    order: 2;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #tbox2 {
    top: 80rem;
  }
  .lastbit-sub {
    display: flex;
    flex-direction: column;
  }
  .form {
    align-self: self-end;
  }
}

@media screen and (max-width: 959px) {
  footer div {
    flex-direction: column;
  }
  .sub-footer {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 7rem;
  }
  #testmnl-sub {
    grid-template-columns: repeat(9, 1fr);
  }
  #testmnl-sub img {
    width: 5rem;
  }
}

@media screen and (max-width: 840px) {
  #testmnl-sub {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (max-width: 740px) {
  #testmnl-sub {
    grid-template-columns: repeat(7, 1fr);
  }
  #testmnl-sub img {
    width: 5rem;
  }
}

@media screen and (max-width: 640px) {
  #cookie-manager {
    width: 98vw;
  }
  .consent div:nth-child(1) {
    overflow-y: scroll;
    height: 5rem;
    word-wrap: wrap;
  }
  .consent p {
    max-width: 90vw;
  }
  .consent div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 10rem;
    overflow-y: scroll;
  }
  .consent section {
    max-width: 90vw;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  .about {
    overflow-y: scroll;
    height: 74vw;
  }
  .button-grp {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .button-grp button {
    width: 100%;
  }
  #menu-fix {
    left: 10px;
    width: 75vw;
  }
  .div-grid {
    margin: 80rem 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .div-grid img {
    width: 80%;
    height: auto;
  }
  .bigpicture-h2 {
    font-size: 8vw;
  }
  .bigpicture-cont2 {
    display: flex;
    flex-direction: column;
  }
  .bigpicture-cont2 h3 {
    font-size: 8vw;
  }
  .para {
    font-size: 4vw;
    width: auto;
  }
  .div-grid2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .div-grid2 p {
    width: auto;
  }
  .div-grid2 img {
    height: 4rem;
  }
  .bigpicture-cont2 video {
    height: 72vw;
    width: 72vw;
    align-self: flex-start;
  }
  .bts-sub2 p {
    width: 80%;
  }
  .bts-bigimg {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
  #bts-Simg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #bts-Simg0 {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #bts-Simg img,
  #bts-bigimg img {
    height: 65vw;
    border-radius: 0.5rem;
  }
  .testmnl {
    margin-bottom: 15rem;
  }
  .tbox div {
    position: relative;
  }
  #testmnl-sub {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .testmnl h2 {
    font-size: clamp(30px, 6.5vw, 6.5vw);
  }
  #testmnl-sub img {
    width: 5rem;
    height: 2.5rem;
  }
  #tbox1,
  #tbox2,
  #tbox3,
  #tbox4 {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    height: auto;
    width: 80vw;
    margin-bottom: 1rem;
  }
  .lastbit {
    margin-top: 0rem;
  }
  #sub-form {
    display: flex;
    flex-direction: column;
  }
  .form input {
    width: 60vw;
  }
}

@media screen and (max-width: 540px) {
  .div-grid {
    margin-top: 20rem;
  }
  #box1 {
    top: 8rem;
    left: 3rem;
  }
  #box2 {
    top: 58rem;
  }
  #box3 {
    top: 20rem;
  }
  #box4 {
    left: 4rem;
    top: 55rem;
  }
  #box5 {
    top: 70rem;
  }
  #cookie-fix{
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  #testmnl-sub {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #testmnl-sub img {
    width: clamp(5rem, 21.5vw, 21.5vw);
    height: clamp(2.5rem, 11vw, 11vw);
  }
}
@media screen and (max-width: 380px) {
  .first-txt {
    word-break: break-word;
  }
  #testmnl-sub {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }
}
